a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-none {
  display: none;
}

.page-body {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
}

.main-header {
  padding-top: 48px;
  padding-bottom: 54px;
}

@media (min-width: 648px) {
  .main-header {
    padding-bottom: 63px;
  }
}

@media (min-width: 1440px) {
  .main-header {
    padding-top: 80px;
  }
}

.main-header__logo {
  display: block;
  margin: 0 auto;
}

.title-block {
  margin-bottom: 65px;
  padding-top: 54vw;
  background-image: url('../img/image-people-left-mobile.png'),
    url('../img/image-people-right-mobile.png');
  background-repeat: no-repeat;
  background-size: 48% auto;
  background-position: 0 0, 100% 0;
}

@media (min-resolution: 2dppx) {
  .title-block {
    background-image: url('../img/image-people-left-mobile@2x.png'),
      url('../img/image-people-right-mobile@2x.png');
  }
}

@media (min-width: 648px) {
  .title-block {
    padding-top: 375px;
    background-image: url('../img/image-people-tablet.png');
    background-size: 820px auto;
    background-position: center top;
  }

  @media (min-resolution: 2dppx) {
    .title-block {
      background-image: url('../img/image-people-tablet@2x.png');
    }
  }
}

@media (min-width: 1440px) {
  .title-block {
    min-height: 358px;
    margin-bottom: 59px;
    padding-top: 47px;
    background-image: url('../img/image-people-left-desktop.png'),
      url('../img/image-people-right-desktop.png');
    background-size: 362px 303px;
    background-position: 0 0, 100% 55px;
  }

  @media (min-resolution: 2dppx) {
    .title-block {
      background-image: url('../img/image-people-left-desktop@2x.png'),
        url('../img/image-people-right-desktop@2x.png');
    }
  }
}

.title-block__title {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 24px;
  color: #28283d;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
}

@media (min-width: 648px) {
  .title-block__title {
    width: 339px;
    margin-bottom: 26px;
    font-size: 48px;
    line-height: 48px;
  }
}

@media (min-width: 1440px) {
  .title-block__title {
    width: 445px;
    margin-bottom: 34px;
    font-size: 64px;
    line-height: 64px;
  }
}

.title-block__text {
  margin: 0 auto;
  margin-bottom: 31px;
}

.text-discription {
  width: 327px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879d;
}

@media (min-width: 648px) {
  .text-discription {
    width: 457px;
  }
}

@media (min-width: 1440px) {
  .text-discription {
    width: 540px;
    font-size: 18px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  border-radius: 29px;
}

@media (min-width: 648px) {
  .button {
    display: inline-flex;
  }
}

.button--download {
  width: 193px;
  margin: 0 auto;
  margin-bottom: 16px;
  background-color: #4d96a9;
}

.button--download:hover {
  background-color: #71C0D4;
}

@media (min-width: 648px) {
  .button--download {
    margin-right: 13px;
  }
}

.button__version {
  margin-left: 4px;
  color: #8fe3f9;
}

.button__version--second {
  color: #d9b8ff;
}

.button--info {
  width: 139px;
  margin: 0 auto;
  background-color: #855fb1;
}

.button--info:hover,
.button--second:hover {
  background-color: #B18BDD;
}

.button--second {
  background-color: #855fb1;
}

@media (min-width: 648px) {
  .button--second {
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .button--second {
    margin: 0;
    margin-top:14px;
  }
}

.scope--first {
  position: relative;
  padding-top: 204px;
  margin-bottom: 64px;
}

@media (min-width: 648px) {
  .scope--first {
    padding-top: 206px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .scope--first {
    margin-bottom: 72px;
  }
}

.scope--first:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 1px;
  height: 84px;
  background-color: #d8d8d8;
}

.scope--first:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 84px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '01';
  width: 56px;
  height: 56px;
  color: #87879d;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
}

.scope--second {
  position: relative;
  padding-top: 204px;
  padding-bottom: 55px;
  background-image: linear-gradient(90deg, #4d96a9, #4d96a9),
    url('../img/background-scope-mobile.jpg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center top 111px;
}

@media (min-width: 648px) {
  .scope--second {
    background-image: linear-gradient(90deg, #4d96a9, #4d96a9),
      url('../img/background-scope-desktop.jpg');
  }
}

@media (min-width: 1440px) {
  .scope--second {
    display: flex;
    justify-content: center;
    padding-top: 228px;
  }
}

.scope--second:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 1px;
  height: 84px;
  background-color: #d8d8d8;
}

.scope--second:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 84px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '02';
  width: 56px;
  height: 56px;
  color: #87879d;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
}

.scope__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 327px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .scope__list {
    width: 689px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1440px) {
  .scope__list {
    width: 1110px;
    margin-bottom: 57px;
  }
}

.scope__item {
  margin-bottom: 24px;
}

.scope__image {
  display: block;
  border-radius: 5px;
}

@media (min-width: 648px) {
  .scope__image {
    width: 164px;
    height: 156px;
  }
}

@media (min-width: 1440px) {
  .scope__image {
    width: 255px;
    height: 242px;
  }
}

.scope__subtitle {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4d96a9;
}

@media (min-width: 648px) {
  .scope__subtitle {
    margin-bottom: 16px;
  }
}

.scope__title {
  font-weight: 900;
  margin: 0 auto;
  font-size: 32px;
  line-height: 36px;
}

@media (min-width: 648px) {
  .scope__title {
    font-size: 40px;
    line-height: 44px;
  }
}

.scope-title--first {
  width: 327px;
  margin-bottom: 32px;
  color: #28283d;
}

@media (min-width: 648px) {
  .scope-title--first {
    width: 445px;
  }
}

.scope-title--second {
  width: 327px;
  margin-bottom: 22px;
  color: #fafafa;
}

@media (min-width: 648px) {
  .scope-title--second {
    width: 350px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .scope-title--second {
    margin: 0;
    text-align: left;
  }
}

.scope__text {
  width: 327px;
  margin: 0 auto;
}

@media (min-width: 648px) {
  .scope__text {
    width: 573px;
  }
}

@media (min-width: 1440px) {
  .scope__text {
    width: 540px;
  }
}

.scope__text--second {
  width: 310px;
  margin-bottom: 33px;
  color: #fafafa;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 648px) {
  .scope__text--second {
    width: 573px;
    margin-bottom: 41px;
  }
}

@media (min-width: 1440px) {
  .scope__text--second {
    width: 350px;
    text-align: left;
    margin-left: 125px;
    margin-right: 92px;
  }
}
